main/default/flows/CreateServiceApptFromQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>CreateServiceApptFromWO</name>
        <label>CreateServiceApptFromWO</label>
        <locationX>816</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppt.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_and_Service_Appt_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_and_Service_Appt_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_And_Service_Appt_Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GeServiceApptFromWO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateWorkOrderFromQuote</name>
        <label>CreateWorkOrderFromQuote</label>
        <locationX>596</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssociatedQuote.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssociatedQuote.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_And_Service_Appt_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_and_Service_Appt_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssociatedQuote.SBQQ__PriceBook__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWorkOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsQuoteAccepted</name>
        <label>IsQuoteAccepted</label>
        <locationX>162</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>QuoteNotAccepted</defaultConnectorLabel>
        <rules>
            <name>QuoteAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssociatedQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssociatedQuote.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssociatedQuote.SBQQ__Opportunity2__r.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appt_Date</targetReference>
            </connector>
            <label>QuoteAccepted</label>
        </rules>
    </decisions>
    <interviewLabel>CreateServiceApptFromQuote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateWorkOrderAndServiceApptFromQuote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>816</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>CreateServiceApptFromWO</targetReference>
        </connector>
        <inputReference>WorkOrderRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>GeServiceApptFromWO</name>
        <label>GeServiceApptFromWO</label>
        <locationX>817</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>ServiceApptAndWorkOrderCreated</targetReference>
        </connector>
        <inputReference>ServiceAppt</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetQuoteRecord</name>
        <label>GetQuoteRecord</label>
        <locationX>571</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWorkOrderFromQuote</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ServiceApptAndWorkOrderCreated</name>
        <label>ServiceApptAndWorkOrderCreated</label>
        <locationX>584</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletedMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Service Appointment and Work Order Created Based Off This Quote Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Service_Appt_Date</name>
        <label>Set Service Appt Date</label>
        <locationX>402</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetQuoteRecord</targetReference>
        </connector>
        <fields>
            <name>DisplayTextForServiceAppt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Create a Service Appointment based on Your Accepted Quote! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_And_Service_Appt_Subject</name>
            <dataType>String</dataType>
            <fieldText>Work Order And Service Appt Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Order_and_Service_Appt_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Work Order and Service Appt Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsQuoteAccepted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociatedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>ServiceAppt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceApptDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
