main/default/flows/CreateWOLIFromQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>260</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>WOLIRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineWOLI</name>
        <label>DefineWOLI</label>
        <locationX>260</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedWORecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQuoteItems.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQuoteItems.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <description>The purpose of this Flow is to create Work Order Line Items from a Selected Quote associated the Quote this Screen Flow is on. In other flows we created a Work Order without any Work Order Line Items. The key driver of this flow is to select an existing Work Order that is associated to this Quotes Account Record and convert the Quote Line Items to the Work Order Line Items. In order for this flow to work there must be an associated Pricebook to the Work Order. When creating the Work Order Line Items the Product field is READ ONLY, it is populated once the Pricebook Entry is associated. This is why a Pricebook is required on the Work Order.</description>
    <dynamicChoiceSets>
        <name>Work_Order_Options</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>SelectedWORecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CreateWOLIFromQuote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create WOLIs from Quote</label>
    <loops>
        <name>LoopQuoteItems</name>
        <label>LoopQuoteItems</label>
        <locationX>654</locationX>
        <locationY>407</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DefineWOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_WOLI_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_WOLI_Records</name>
        <label>Create WOLI Records</label>
        <locationX>656</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>WOLI_Created</targetReference>
        </connector>
        <inputReference>WOLIRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Data</name>
        <label>Get Quote Data</label>
        <locationX>412</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>QuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>SBQQ__Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>746</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuoteItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__PricebookEntryId__c</queriedFields>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Create_WOLI_from_Quote</name>
        <label>Create WOLI from Quote</label>
        <locationX>207</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Quote_Data</targetReference>
        </connector>
        <fields>
            <name>StartWOLIProcess</name>
            <fieldText>&lt;p&gt;Click Next To Create Work Order Line items from This Quote Record. Keep in mind a few items:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;You will be provided a list of Work Orders that map to the Account record this Quote is associated to&lt;/li&gt;&lt;li&gt;Selection of a Work Order will Auto-Generate Work Order Line Items on that Work Order based on the Quote Line Items From This Record&lt;/li&gt;&lt;li&gt;Additional WOLI mappings like Assets and Orders will be required operationally &lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectWorkOrder</name>
        <label>Select Work Order</label>
        <locationX>579</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <fields>
            <name>DisplaySelectWorkOrder</name>
            <fieldText>&lt;p&gt;Please select a Work Order below based on the Work Orders related to your Quotes Account Record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkOrderOptions</name>
            <choiceReferences>Work_Order_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WOLI_Created</name>
        <label>WOLI Created</label>
        <locationX>498</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreatedWOLIText</name>
            <fieldText>&lt;p&gt;Work Order Line Items Created To Following Work Order: /{!SelectedWORecord}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_WOLI_from_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedWORecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
