main/default/flows/CreateQuoteFromWorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>DefineOpportunityLineItem</name>
        <label>DefineOpportunityLineItem</label>
        <locationX>89</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.SBQQ__QuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.SBQQ__ProductOption__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Items.SBQQ__ListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DefineOpportunityLineItemCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineOpportunityLineItemCollection</name>
        <label>DefineOpportunityLineItemCollection</label>
        <locationX>88</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineQuoteLineCollection</name>
        <label>DefineQuoteLineCollection</label>
        <locationX>92</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWorkOrderLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineQuoteLineItem</name>
        <label>DefineQuoteLineItem</label>
        <locationX>86</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItem.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrderLineItems.LineItemNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.SBQQ__RenewedAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrderLineItems.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrderLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrderLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.SBQQ__PricebookEntryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrderLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWorkOrderLineItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DefineQuoteLineCollection</targetReference>
        </connector>
    </assignments>
    <description>The purpose of this Flow is to Create Quote and Opportunity records from the Work Order this Screen Flow is associated with. the key driver behind this Flow is a particular Work Order could be selected for Renewal so a Renewal Quote And Opportunity are created with necessary Quote Line Items and Opportunity Line Items. Sales Teams can, from here, now modify the Quote and Opportunity within the terms of the Sales Process.</description>
    <formulas>
        <name>CloseDateTodayAnd30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <interviewLabel>CreateQuoteFromWorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote And Opportunity From Work Order</label>
    <loops>
        <name>Loop_Quote_Line_Items</name>
        <label>Loop Quote Line Items</label>
        <locationX>300</locationX>
        <locationY>567</locationY>
        <collectionReference>QuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DefineOpportunityLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOpportunityProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopWorkOrderLineItems</name>
        <label>LoopWorkOrderLineItems</label>
        <locationX>353</locationX>
        <locationY>264</locationY>
        <collectionReference>Get_Work_Order_Line_Item_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DefineQuoteLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateQuoteLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>739</locationX>
        <locationY>263</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDateTodayAnd30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WorkOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>priceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Customer - Upgrade</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>527</locationX>
        <locationY>264</locationY>
        <assignRecordIdToReference>QuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>LoopWorkOrderLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>priceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunityProducts</name>
        <label>CreateOpportunityProducts</label>
        <locationX>613</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>DataCreatedScreen</targetReference>
        </connector>
        <inputReference>OpportunityProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteLineItems</name>
        <label>CreateQuoteLineItems</label>
        <locationX>521</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Loop_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>QuoteLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order_Data</name>
        <label>Get Work Order Data</label>
        <locationX>609</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Line_Item_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>priceBookId</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderNumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item_Data</name>
        <label>Get Work Order Line Item Data</label>
        <locationX>740</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateQuoteFromWOScreen</name>
        <label>CreateQuoteFromWOScreen</label>
        <locationX>449</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Work_Order_Data</targetReference>
        </connector>
        <fields>
            <name>CreateQuoteFromWOText</name>
            <fieldText>&lt;p&gt;This Screen Flow on a Work Order will do the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create a new Opportunity record associated to the completed Work Order&lt;/li&gt;&lt;li&gt;Create a new Quote record of type Renewal &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;associated to the completed Work Order&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Create Quote Line Items associated to the Work Order Line Items&lt;/li&gt;&lt;li&gt;Create Opportunity Line Items associated to the Work Order Line items&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DataCreatedScreen</name>
        <label>DataCreatedScreen</label>
        <locationX>771</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreatedDataDisplayText</name>
            <fieldText>&lt;p&gt;The Following Data Has Been Created:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Quote record from Work Order&lt;/li&gt;&lt;li&gt;Opportunity record related to Quote &lt;/li&gt;&lt;li&gt;Quote Lines from Work Order Line Items&lt;/li&gt;&lt;li&gt;Opportunity Products related to Quote Lines&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Click here to go to the created Quote record: /&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!QuoteId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateQuoteFromWOScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OpportunityId</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>priceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>pricebookId</stringValue>
        </value>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
