main/default/flows/CreateWorkOrderAndServiceAppointmentFromAnOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>CreateServiceApptFromWO</name>
        <label>CreateServiceApptFromWO</label>
        <locationX>592</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppt.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_and_Service_Appt_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_and_Service_Appt_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppt.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_And_Service_Appt_Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GeServiceApptFromWO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateWorkOrderFromOrder</name>
        <label>CreateWorkOrderFromOrder</label>
        <locationX>805</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssociatedOrder.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssociatedOrder.ShipToContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_And_Service_Appt_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_and_Service_Appt_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssociatedOrder.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWorkOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsOrderActivated</name>
        <label>IsOrderActivated</label>
        <locationX>406</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>QuoteNotAccepted</defaultConnectorLabel>
        <rules>
            <name>OrderActivatedAndQuoteAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssociatedOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssociatedOrder.SBQQ__Quote__r.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Appt_Date</targetReference>
            </connector>
            <label>OrderActivatedAndQuoteAccepted</label>
        </rules>
    </decisions>
    <description>The purpose of this Flow is to create Work Order and Service Appointment records once an Order is Activated. A key driver for this Flow is once that Quote is accepted the expectations are the Work Orders and Service Appointments are mocked up for the Field Service or Service team to setup the service or installation expectations.</description>
    <interviewLabel>Create Work Order And Service Appointment From An Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Work Order And Service Appointment From An Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>801</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>CreateServiceApptFromWO</targetReference>
        </connector>
        <inputReference>WorkOrderRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>GeServiceApptFromWO</name>
        <label>GeServiceApptFromWO</label>
        <locationX>426</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>ServiceApptAndWorkOrderCreated</targetReference>
        </connector>
        <inputReference>ServiceAppt</inputReference>
    </recordCreates>
    <screens>
        <name>ServiceApptAndWorkOrderCreated</name>
        <label>ServiceApptAndWorkOrderCreated</label>
        <locationX>221</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletedMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Service Appointment and Work Order Created Based Off This Order Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Service_Appt_Date</name>
        <label>Set Service Appt Date</label>
        <locationX>654</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateWorkOrderFromOrder</targetReference>
        </connector>
        <fields>
            <name>DisplayTextForServiceAppt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Create a Service Appointment based on Your Accepted Quote! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_And_Service_Appt_Subject</name>
            <dataType>String</dataType>
            <fieldText>Work Order And Service Appt Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Order_and_Service_Appt_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Work Order and Service Appt Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsOrderActivated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociatedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>ServiceAppt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceApptDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
