main/default/flows/CreateMaintenancePlansAndContracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_To_Asset_Collection</name>
        <label>Add To Asset Collection</label>
        <locationX>621</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>AllAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Maintenance_Asset_Collection</name>
        <label>Add To Maintenance Asset Collection</label>
        <locationX>650</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>AllMaintenanceAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewMaintenanceAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_To_Create_Maintenance_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Asset</name>
        <label>Define Asset</label>
        <locationX>621</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>NewAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Maintenance_Asset</name>
        <label>Define Maintenance Asset</label>
        <locationX>639</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>NewMaintenanceAsset.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMaintenanceAsset.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Maintenance_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Maintenance_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Maintenance_Plan</name>
        <label>Generate Maintenance Plan</label>
        <locationX>569</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>MaintenancePlan.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateOfFirstWorkOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.GenerationTimeframe</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.FrequencyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Years</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.GenerationTimeframeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Years</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Service_Contract</name>
        <label>Generate Service Contract</label>
        <locationX>776</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>ServiceContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Contract</targetReference>
        </connector>
    </assignments>
    <description>In this flow we will be creating the following data: Service Contract, Maintenance Plan, Assets, and Maintenance Assets on the Maintenance Plans. We will not be creating Service Contract Line Items. Why is because the Products specified on your Quote may not constitute “Service” level support but all those products would be within the purview of a Maintenance Plan. If you *do* want to create Service Contracts from Assets there is the added wrinkle of Pricebook Entries. Pricebook Entries are not assigned to Assets but Service Contract Line Items also require Pricebook Entries.</description>
    <formulas>
        <name>DateOfFirstWorkOrder</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>CreateMaintenancePlansAndContracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Maintenance Plans And Contracts</label>
    <loops>
        <name>Loop_Quote_Items</name>
        <label>Loop Quote Items</label>
        <locationX>382</locationX>
        <locationY>507</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_To_Create_Maintenance_Assets</name>
        <label>Loop To Create Maintenance Assets</label>
        <locationX>383</locationX>
        <locationY>834</locationY>
        <collectionReference>AllAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Maintenance_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maintenance_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>384</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>Loop_To_Create_Maintenance_Assets</targetReference>
        </connector>
        <inputReference>AllAssets</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Assets</name>
        <label>Create Maintenance Assets</label>
        <locationX>383</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>GoToMaintenancePlan</targetReference>
        </connector>
        <inputReference>AllMaintenanceAssets</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Plan</name>
        <label>Create Maintenance Plan</label>
        <locationX>366</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>MaintenancePlan</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Contract</name>
        <label>Create Service Contract</label>
        <locationX>777</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Generate_Maintenance_Plan</targetReference>
        </connector>
        <inputReference>ServiceContract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_And_Account_Data</name>
        <label>Get Quote And Account Data</label>
        <locationX>554</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>QuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>SBQQ__Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>203</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateMPScreen</name>
        <label>CreateMPScreen</label>
        <locationX>421</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Quote_And_Account_Data</targetReference>
        </connector>
        <fields>
            <name>CreateMPDisplayText</name>
            <fieldText>&lt;p&gt;Use this Flow To Create the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Maintenance Plan related to this Quotes Account Record&lt;/li&gt;&lt;li&gt;Contract related to this Quotes Account Record&lt;/li&gt;&lt;li&gt;Asset records related to this Quotes Quote Line Item Products&lt;/li&gt;&lt;li&gt;Maintenance Assets Related The Maintenance Plan Created and the Assets that were created&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GoToMaintenancePlan</name>
        <label>Go To Maintenance Plan</label>
        <locationX>201</locationX>
        <locationY>1074</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageMaintenancePlan</name>
            <fieldText>&lt;p&gt;Maintenance Plan Created For This Quote!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>CreateMPScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AllMaintenanceAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>MaintenancePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>NewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewMaintenanceAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>