main/default/flows/CreateMaintenancePlansAndContracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_To_Asset_Collection</name>
        <label>Add To Asset Collection</label>
        <locationX>281</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>AllAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Maintenance_Asset_Collection</name>
        <label>Add To Maintenance Asset Collection</label>
        <locationX>425</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>AllMaintenanceAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewMaintenanceAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_To_Create_Maintenance_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Asset</name>
        <label>Define Asset</label>
        <locationX>471</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>NewAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.SBQQ__ListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Maintenance_Asset</name>
        <label>Define Maintenance Asset</label>
        <locationX>430</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>NewMaintenanceAsset.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMaintenanceAsset.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Maintenance_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Maintenance_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Maintenance_Plan</name>
        <label>Generate Maintenance Plan</label>
        <locationX>862</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>MaintenancePlan.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.GenerationTimeframe</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlan.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Service_Contract</name>
        <label>Generate Service Contract</label>
        <locationX>725</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>Service_Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Contract.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Contract.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Contract</targetReference>
        </connector>
    </assignments>
    <description>In this flow we will not be creating Service Contract Line Items. Why is because the Products specified on your Quote may not constitute “Service” level support but all those products would be within the purview of a Maintenance Plan. If you *do* want to create Service Contracts from Assets there is the added wrinkle of Pricebook Entries. Pricebook Entries are not assigned to Assets but Service Contract Line Items also require Pricebook Entries.</description>
    <interviewLabel>CreateMaintenancePlansAndContracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Maintenance Plan And Service Contract with Assets</label>
    <loops>
        <name>Loop_Quote_Items</name>
        <label>Loop Quote Items</label>
        <locationX>385</locationX>
        <locationY>200</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_To_Create_Maintenance_Assets</name>
        <label>Loop To Create Maintenance Assets</label>
        <locationX>106</locationX>
        <locationY>571</locationY>
        <collectionReference>AllAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Maintenance_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maintenance_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>170</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>Loop_To_Create_Maintenance_Assets</targetReference>
        </connector>
        <inputReference>AllAssets</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Assets</name>
        <label>Create Maintenance Assets</label>
        <locationX>108</locationX>
        <locationY>837</locationY>
        <connector>
            <targetReference>GoToMaintenancePlan</targetReference>
        </connector>
        <inputReference>AllMaintenanceAssets</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Plan</name>
        <label>Create Maintenance Plan</label>
        <locationX>708</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>MaintenancePlan</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Contract</name>
        <label>Create Service Contract</label>
        <locationX>862</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Generate_Maintenance_Plan</targetReference>
        </connector>
        <inputReference>Service_Contract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_And_Account_Data</name>
        <label>Get Quote And Account Data</label>
        <locationX>604</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Service_Contract</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>QuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuoteName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>SBQQ__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <field>SBQQ__PricebookId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>533</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateMPScreen</name>
        <label>CreateMPScreen</label>
        <locationX>457</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Quote_And_Account_Data</targetReference>
        </connector>
        <fields>
            <name>CreateMPDisplayText</name>
            <fieldText>&lt;p&gt;Use this Flow To Create the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Maintenance Plan related to this Quotes Account Record&lt;/li&gt;&lt;li&gt;Contract related to this Quotes Account Record&lt;/li&gt;&lt;li&gt;Asset records related to this Quotes Quote Line Item Products&lt;/li&gt;&lt;li&gt;Maintenance Assets Related The Maintenance Plan Created and the Assets that were created&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GoToMaintenancePlan</name>
        <label>Go To Maintenance Plan</label>
        <locationX>382</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageMaintenancePlan</name>
            <fieldText>&lt;p&gt;Maintenance Plan, Service Contract, Asset Records and Maintenance Assets Generated. You will find them associated to this Quotes Account record. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>CreateMPScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AllAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AllMaintenanceAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>bbb</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ContractLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>ContractLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>GetPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>MaintenancePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>NewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewMaintenanceAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
</Flow>
