main/default/flows/UpdateAssetsOnWOCompletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>358</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>AssetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWOLIForAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineUpdateAsset</name>
        <label>DefineUpdateAsset</label>
        <locationX>359</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>UpdateAsset.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWOLIForAssets.Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <description>The purpose of this Flow is to update Assets associated to a Work Order on an Account to Installed once a Work Order is completed. The key driver around this is to setup service contracts and renewal contracts around those Assets.</description>
    <interviewLabel>UpdateAssetsOnWOCompletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateAssetsOnWOCompletion</label>
    <loops>
        <name>LoopWOLIForAssets</name>
        <label>LoopWOLIForAssets</label>
        <locationX>694</locationX>
        <locationY>345</locationY>
        <collectionReference>GetWOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DefineUpdateAsset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAssets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetWOLI</name>
        <label>GetWOLI</label>
        <locationX>481</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopWOLIForAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssets</name>
        <label>UpdateAssets</label>
        <locationX>689</locationX>
        <locationY>552</locationY>
        <inputReference>AssetCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetWOLI</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>UpdateAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
